.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1B1B1B;
    min-height: 100vh;
    color: white;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    background-color: #363636;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
}