* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #363636 0%, #1B1B1B 100%);
    color: white;
}